<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsfs.dsfshome.mapper.JobMapper" >
  <resultMap id="BaseResultMap" type="com.dsfs.dsfshome.entity.Job" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="need_amount" property="needAmount" jdbcType="INTEGER" />
    <result column="job_duty" property="jobDuty" jdbcType="VARCHAR" />
    <result column="job_requirements" property="jobRequirements" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>

  <select id="getJobList" parameterType="com.dsfs.dsfshome.model.JobQo" resultMap="BaseResultMap">
    select
      *
    from
      job
    where
      1=1
      <if test="state!=null">
        and state = #{state}
      </if>
      <if test="jobName!=null and jobName !=''">
        and job_name like like CONCAT('%',#{jobName},'%')
      </if>
      order by publish_date desc,created_date desc
  </select>
</mapper>