<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsfs.dsfshome.mapper.ProjectTypeMapper">
  <resultMap id="BaseResultMap" type="com.dsfs.dsfshome.entity.ProjectType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>

  <select id="getProjectTypeList" parameterType="com.dsfs.dsfshome.model.ProjectTypeQo" resultMap="BaseResultMap">
    select
      a.*
    from
      project_type a
    where
      1=1
      <if test="id!=null">
        and a.id = #{id}
      </if>
    order by a.parent_id asc
  </select>

</mapper>